<%- include('header'); -%>
  <div class="container">
    <h1 class="text-center">Hidden</h1>
  </div>
  <div class="container mt-5">
    <h1 class="text-center">Register a new speciess</h1>
    <form action="/species" method="POST">
      <div class="mb-3">
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" /><br />
      </div>
      <div class="mb-3">
        <label for="scientific_name">Scientific Name:</label><br />
        <input type="text" id="scientific_name" name="scientific_name" /><br />
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-info btn-lg mx-2" type="submit" />Submit</button>
      </div>
    </form>
  </div>
  </body>
</html>
